<body style="background-image: linear-gradient(to right, rgba(4, 175, 243, 0), rgb(77, 179, 300));">


<div >
    <h1>User Counter</h1>
    <p>
        Hello, {{user_name}} has been greeted {{userCount.amount_greeted}} time(s).
      
    </p>
</div>
</body>