<body style="background-image: linear-gradient(to right, rgba(4, 175, 243, 0), rgb(77, 179, 300));">


<div >


    <p>
      
        Hello, {{user_name}} has been greeted {{userCount}} times.
      
    </p>
</div>
</body>