<div>
   
  
        {{!-- <tr>
            <th>Name</th>


        </tr> --}}
        {{!-- {{#each counter}} --}}
        <p>
            Hello, {{user_name}} <span></span> has been greeted {{userCount}} <span></span>
        </p>
      
            {{!-- <p>{{this}}</p> --}}

    
        {{!-- {{/each}} --}}
    </table>
</div>