
<div class="row">
    <h1></h1>
    <table>
        {{!-- <tr>
            <th>Name</th>
            
       
        </tr> --}}
        {{#each nameCounter}}
        <tr>
            <td>{{this}}</td>
          
        </tr>
        {{/each}}
    </table>
</div>