{{!-- this file will only display whch names were greeted when u 
click on the name it will show how mnay times greeted and the langues they were greeted in  --}}

<div class="row">
    <h1>Names Greeted</h1>
    <table>
        <tr>
            <th>Name</th>
            {{!-- <th>Amount Greeted</th> --}}

            {{!-- <th>Price</th>
            <th>When</th> --}}
        </tr>
        {{#each actions}}
        <tr>
            <td>{{userName}}</td>
            {{!-- <td>{{cost}}</td>
            <td>{{timestamp}}</td> --}}
        </tr>
        {{/each}}
    </table>
</div>