body {
    background-size: cover;
    position: relative;
    background-image: linear-gradient(to right, rgba(4, 175, 243, 0), rgb(77, 179, 211));
}

.container {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    background-color: #f2f2f2;
    border: 10px solid #3498db;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px; /* Adjust max-width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 60px;
}

.radioButton {
    accent-color: #2537f79d;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
}
.textArea{
    font-style: italic;
    /* font-size: 0.3em; */
    opacity: 0.8;
    color: #767a76;
}

.greetBtn {
    color: #0496c2cf;
    padding: 0.6em 0.8em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.greetBtn:hover {
    color: rgba(28, 148, 188, 0.69);
    background-color: #0f3d91;
    border: 2px solid white;
    color: white

}

.name {
    background-color: #f2f2f2;
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.resetBtn {
     /* font-size: 20px; */
     border: 2px solid black;
     /* border-radius: 30%; */
     color: #0496c2cf;
     padding: 0.6em 0.8em;
     background-color: transparent;
     border-radius: .3em;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     transition: .5s;
     font-weight: 400;
     font-size: 15px;
     border: 1px solid;
     font-family: inherit;
     text-transform: uppercase;
     color: var(--color);
     z-index: 1;
}

.resetBtn:hover {
    background-color: #c1121f;
    color: rgba(28, 148, 188, 0.69);
    border: 2px solid white;
    color: white;
}

.alert {
    background-color: rgb(235, 171, 171);
    color: rgb(247, 9, 9);
    border: solid 2px rgb(247, 9, 9);
    text-align: center;
    padding: 20px;
}
.red {
    border: 1px solid;
    margin: 0 auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #ff9b85;
    background-image: url('../css/error.jpg');
    width: fit-content;
    color: #c1121f;
    border: 2px solid #d54202c2;
    border-radius: 10px;
    font-size: 20px;
}

/* ::placeholder {
    font-style: italic;
    font-size: 1em;
    opacity: 0.8;
    color: #a360da;
} */

@media (max-width: 800px) {
    .container {
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .greetBtn {
        font-size: 14px;
    }

    .name {
        font-size: 16px;
    }

    .resetBtn {
        font-size: 14px;
    }
    .radioButton {
        display: flex;
        flex-direction: column;

    }
}
